@model Emlak.Models.Ilan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ilan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanBaslik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanBaslik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.İlanFiyat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.İlanFiyat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanTarih)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanTarih)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kategori.KategoriAd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Islem.IslemAd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Islem.IslemAd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kimden.KimdenAd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kimden.KimdenAd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanVResim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanVResim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanAdres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanAdres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanAciklama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanAciklama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanVitrin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanVitrin)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
