@model IEnumerable<Emlak.Models.Ilan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IlanBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İlanFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlanTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Islem.IslemAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kimden.KimdenAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlanVResim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlanAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlanAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlanVitrin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IlanBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İlanFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlanTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Islem.IslemAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kimden.KimdenAd)
        </td>
        <td>
            <img src="~/images/@item.IlanVResim" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlanAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlanAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlanVitrin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IlanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IlanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IlanID })
        </td>
    </tr>
}

</table>
