@model Emlak.Models.IlanDetay

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>IlanDetay</legend>

        @Html.HiddenFor(model => model.IlanDetayID)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdOdaSayisi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdOdaSayisi)
            @Html.ValidationMessageFor(model => model.IdOdaSayisi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBinaYasi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdBinaYasi)
            @Html.ValidationMessageFor(model => model.IdBinaYasi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEsyaliMi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdEsyaliMi)
            @Html.ValidationMessageFor(model => model.IdEsyaliMi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBinaKat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdBinaKat)
            @Html.ValidationMessageFor(model => model.IdBinaKat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBinaKacinciKat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdBinaKacinciKat)
            @Html.ValidationMessageFor(model => model.IdBinaKacinciKat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdBinaIsitma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdBinaIsitma)
            @Html.ValidationMessageFor(model => model.IdBinaIsitma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IlanID, "Ilan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IlanID", String.Empty)
            @Html.ValidationMessageFor(model => model.IlanID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
